.caixa-video-1 {
  padding: 7rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.caixa-iframe {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
}

.img-video,
.iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}
